body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.board {
  display: grid;
  grid-template-columns: repeat(7, 50px);
  grid-template-rows: repeat(6, 50px);
  gap: 5px;
}

.cell {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  cursor: pointer;
  position: relative;
}

.cell.red {
  background-color: red;
}

.cell.yellow {
  background-color: yellow;
}

.cell.empty {
  background-color: #ccc;
}


.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: inherit;
}

.cell.preview {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  /* Slightly different from the cell color */
}

.cell.preview::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: inherit;
  /* Same color as the current player's color */
  opacity: 0.5;
}



@keyframes blink {

  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
}

.cell.winning-cell {
  animation: blink 1s infinite;
  position: relative;
}

.cell.winning-cell.red .circle {
  background-color: rgba(255, 0, 0, 0.8);
  /* Brighter red */
}

.cell.winning-cell.yellow .circle {
  background-color: rgba(255, 255, 0, 0.8);
  /* Brighter yellow */
}


